<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>JiraRush - establecer una nueva contraseña</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="'Hola, ' + ${user.firstName} + '.'"/>
<p th:text="'Hemos recibido una solicitud para establecer una nueva contraseña para su cuenta de JiraRush: ' + ${user.email} + '.'"/>
<a th:href="${resetUrl}">Establecer una contraseña</a>
</body>
</html>
